.sticky-box {
  position: absolute;
  right: 0;
  top: 110vh;
  //bottom: 10px;
  //background-color: transparent;
  width: 400px;
  height: 70%;
  z-index: 0;

  @media #{$tablet-mini} {
    display: none;
  }

  .sticky {
    background: url("../images/sticky/usor.svg") no-repeat center right;
    position: sticky;
    width: 100%;
    height: 610px;
    top: 100px;
  }
}

