.footer {
  background: url('../images/bg-footer.png') no-repeat center/cover;
  padding: 0px 0 10px;
  position: relative;

  &__container {
    display: grid;
    grid-template-columns: 3fr 493px 205px;
    grid-template-rows: 57px 1fr;
    grid-template-areas:
      'nav map cont'
      'logo map cont'
      'f-copy f-copy dev';
  }

  &__nav {
    //display: grid;
    grid-area: nav;
    position: relative;
    //align-self: center;
    padding: 15px 35px 10px 35px;
    max-width: 730px;
    border-radius: 0 0 80px 80px;
    //backdrop-filter: blur(30px);
    box-shadow: inset 0 4px 30px 0 rgba(0, 0, 0, 0.3);
    background: rgba(19, 19, 19, 0.3);
    margin-right: -70px;
    @media #{$laptop} {
      margin-right: -20px;
    }

    @media #{$laptop_s} {
      display: none;
    }

    nav {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .footer__nav-list {
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: space-between;
        //column-gap: 95px;

        .footer__nav-item {
          font-weight: 700;
          padding-right: 10px;
          padding-left: 10px;

          .footer__nav-link {
            font-weight: 700;
            font-size: 16px;
            color: #fff;
            position: relative;

            @media #{$laptop} {
              font-size: 16px;
            }
          }

          .footer__nav-link:after {
            position: absolute;
            content: '';
            left: -20%;
            bottom: 0;
            display: block;
            width: 0;
            transition: 0.3s;
            height: 1px;
            color: #fff;
            background-color: #34c3ff;
          }

          .footer__nav-link:hover:after {
            width: 140%;
            color: #34c3ff;
          }

          .link-hov {
            color: #fff;
            transition: 0.3s;
          }

          .link-hov:hover {
            color: #34c3ff;
            text-shadow: 0 0 15px 0 #000;
          }

          .accent {
            color: #fc0;
          }
        }
      }
    }
  }

  &__wrapper-company {
    // grid-area: logo;
    // padding-top: 19px;
    // position: relative;
    display: grid;
    grid-area: logo;
    padding-top: 19px;
    position: relative;
    grid-auto-columns: 130px 350px;
    grid-template-rows: 50px 80px;
    grid-template-areas:
      'logo title-footer'
      'log title-footer';

    a {
      font-weight: 700;
      font-size: 20px;
      line-height: 125%;
      color: #bcc1ca;
      grid-area: logo;

      .footer__logo_title {
        position: absolute;
        top: 20px;
        left: 130px;
        max-width: 322px;

        .logo-active {
          font-size: 30px;
          color: #fc0;
        }
      }
    }

    .footer__address {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 400px;
      grid-area: title-footer;

      span {
        display: block;
        padding-left: 28px;
        font-family: $font-family-title;
        font-weight: 500;
        font-size: 14px;
        color: #828d9c;
        font-style: normal;
      }

      svg {
        display: inline-block;
        margin-right: 10px;
      }

      p {
        display: inline-block;
        font-weight: 700;
        font-size: 20px;
        font-style: normal;
        color: #fff;

        .grey {
          font-family: $font-family-base;
          display: inline-block;
          font-weight: 700;
          font-size: 20px;
          color: #b1b1b1;
          padding-left: 0;
        }
      }
    }
  }

  &__wrapper-contact {
    position: relative;
    grid-area: cont;
    display: flex;
    justify-content: flex-end;

    .footer__email {
      padding-top: 18px;

      .footer__email-list {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        li {
          padding: 0;
          font-family: $font-family-base;
          font-weight: 700;
          font-size: 30px;

          a {
            color: #fff;

            .grey {
              color: #b1b1b1;
            }

            .span-email {
              font-family: $font-family-title;
              font-weight: 500;
              font-size: 16px;
              color: #b9bfc9;

              i {
                font-weight: 700;
                font-style: normal;
              }
            }
          }

          .blue {
            font-family: $font-family-base;
            font-weight: 700;
            font-size: 18px;
            color: #56a2e9;
          }
        }

        .btn__social_footer {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 26px;
          height: 36px;
          line-height: 36px;
          padding: 0 21px;
          box-shadow: inset 0 4px 30px 0 rgba(0, 0, 0, 0.3);
          background: rgba(19, 19, 19, 0.3);
        }

        .btn__social_footer:hover {
          box-shadow: inset 0 4px 30px 0 rgba(0, 0, 0, 0.8);
          background: rgba(19, 19, 19, 0.8);

          svg {
            color: #34c3ff;
          }
        }

        li:nth-of-type(3) {
          margin-bottom: 12px;
        }
      }
    }
  }

  &__map {
    position: relative;
    grid-area: map;
    //background: #c0e40d;
    padding-top: 18px;
  }

  &__copyright {
    position: relative;
    padding-left: 30px;
    grid-area: f-copy;
    display: flex;
    align-items: flex-end;

    span {
      font-weight: 400;
      font-size: 16px;
      color: #40464e;
    }
  }

  &__logo-dev {
    display: grid;
    grid-area: dev;
    position: relative;
    justify-items: end;
  }
}

.footer::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 38, 45, 0.9);
}
