.licenses {
  padding: 110px 0 160px;
  background: url("../images/bg-licen.png");

  .licenses__container {
    margin-top: -120px;
    //max-width: 950px;
    width: 100%;
    margin-right: auto;

  }
    .title__left {
     display: flex;
     align-items: center;
     justify-content: flex-start;
      margin-bottom: 75px;
   }


      .licenses__wrapper {
        margin-left: 10%;
        margin-bottom: 25px;
        border-radius: 30px;
        max-width: 945px;
        width: 100%;
        padding: 33px 136px 33px 39px;
        backdrop-filter: blur(25px);
        background: rgba(255, 255, 255, 0.5);
        position: relative;

        span {
          display: inline-block;
          margin-bottom: 50px;
          //width: 100%;
          position: relative;
          max-width: 790px;
        }

        .licenses__btn-white {
          max-width: 200px;
          position: absolute;
          color: #34c3ff;
          display: inline-block;
          bottom: -5%;
          right: 136px;


          .licenses__btn-white:before {
            color: #fff;
          }
        }
      }
  }
