.servises {
  padding: 110px 0 110px 0;
  position: relative;
  //background: url("./image/bg-usor.svg") no-repeat fixed;

  .servises__container {
    width: 100%;



    .servises__wrapper {
      max-width: 1600px;

      .swiper-servises {
        width: 100%;
        height: 300px;
        position: relative;

        .swiper-button-next {
          position: absolute;
          top: 42%;
          right: 0;
        }

        .swiper-button-next::after{
          display: none;
        }

        .swiper-button-prev {
          position: absolute;
          top: 42%;
          left: 0;
        }

        .swiper-button-prev::after{
          display: none;
        }

        .swiper-wrapper {

          .swiper-slide {

            img {
              width: 100%;
              height: 260px;
              object-fit: contain;
            }
          }
        }
      }
    }

    a {
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      color: #244f77;

      svg {
        margin-left: 7px;
      }
    }
  }
}